# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv
venv/
ENV/

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# Environment & Local Storage
.env
backend/uploads/*
!backend/uploads/.gitkeep

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Node.js
node_modules/
npm-debug.log*
package-lock.json
commands.txt
